{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}    
<!-- Info -->
<div class="w3-container w3-padding-64 w3-center w3-row" id="info">
    <div class="w3-col l2">&nbsp;</div>
    <div class="w3-panel w3-round-xxlarge w3-teal w3-col l2">
      <h2><strong>{{ subscribers }}</strong> subscribed!</h2>    
    </div>
  
    <div class="w3-col l1">&nbsp;</div>
    <div class="w3-panel w3-round-xxlarge w3-teal w3-col l2">
      <h2><strong>89</strong> active rooms!</h2>
    </div>  
    <div class="w3-col l1">&nbsp;</div>
    <div class="w3-panel w3-round-xxlarge w3-teal w3-col l3">
      <h2><strong>712</strong> users playing now!</h2>
    </div>  
    <div class="w3-col l1">&nbsp;</div>  
  </div>
  
  
  <!-- Help -->
  <div class="w3-container  w3-center" id="help">
      <div class="w3-third">&nbsp;</div>
      <div class="w3-third">
        <div class="w3-panel">
            <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Play for Free!</span></div>
            No need to buy chips or make deposits!
        </div>
        <hr>
        <div class="w3-panel">
            <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">No real money!</span></div>
            Earn 30,000 chips when you sign up. If you run out of money don't worry, the next day you will get another 30,000 chips.
        </div>
        <hr>
        <div class="w3-panel">
          <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Purpose!</span></div>
          This game was made for the sole purpose of poker training. Have a good time!
      </div>
    </div>
    <div class="w3-third">&nbsp;</div>
  </div>
  
  <!-- Contact Container -->
  <div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
    <div class="w3-row">
      <div class="w3-col m5">
      <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>      
        <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  pokerlite@gmail.com</p>
      </div>
      <div class="w3-col m7">
        <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="{% url 'main_contact' %}" method="POST">
          {% csrf_token %}
        <div class="w3-section">      
          <label>Name</label>
          <input class="w3-input" type="text" name="name" required>
        </div>
        <div class="w3-section">      
          <label>Email</label>
          <input class="w3-input" type="text" name="email" required>
        </div>
        <div class="w3-section">      
          <label>Message</label>
          <input class="w3-input" type="text" name="message" required>
        </div>  
        <input class="w3-check" type="checkbox" checked name="like">
        <label>I Like it!</label>
        <button type="submit" class="w3-button w3-right w3-theme">Send</button>
        </form>
      </div>
    </div>
  </div>
  
{% endblock %}